<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>API Endpoints:</h3>
      <ul>
        <li><a href="api/timestamp/2015-12-25">/api/timestamp/2015-12-25</a></li>
        <li><a href="api/timestamp/1451001600000">/api/timestamp/1451001600000</a></li>
        <li><a href="api/timestamp/invalidInput">/api/timestamp/invalidInput</a></li>
        <li><a href="api/timestamp/">Fetch current date</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        Coded By <a href="https://github.com/miratorimoonlight">Miratorimoonlight</a>
      </p>
    </div>
  </body>
</html>
